<h1>BookCards#index</h1>
<p>※現在登録されているデータの一覧です。</p>
<table class="book_cards">
  <tr>
    <th>ID</th>
    <th>題名</th>
    <th>著者</th>
    <th colspan="2"></th>
  </tr>
  <% @book_cards.each do |book_card| %>
      <tr>
        <td class="id-row"><%= book_card.id %></td>
        <td class="title-row">
          <a href="/book_cards/<%= book_card.id %>"><%= book_card.title %></a>
        </td>
        <td class="author-row"><%= book_card.author %></td>
        <td class="button-row"><a href="/book_cards/edit/<%= book_card.id %>">編集</a></td>
        <%# TODO ひどいコードだ。。 %>
        <td class="button-row"><a href="javascript:window.delData(
        <%= (book_card.id.to_s + ", '".to_s + book_card.title.to_s).html_safe %>');">削除</a></td>
      </tr>
  <% end %>
</table>
<p class="bottom-link"><a href="/book_cards/add">※新しいデータを入力 &gt;&gt;</a></p>
